body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header img{
    height:100px;
}
.container{
    width:100%;
    margin: 20px 2%;
}
.listItem img{
    width:200px;
}


/****
***** Show Page Styles
*****/
.showContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.itemImgContainer{

    border: 1px solid black;
}

.itemDetailsContainer{
    width:45%;
}

.itemImgContainer img{
width:400px;
}

.onSaleOrigPrice{
    color:silver;
    text-decoration: line-through;
    margin-bottom: 0;
}
.onSaleNewPrice{
    margin-top: 0;
    color:red;
}

/****
***** Cart Page Styles
*****/

.cart img{
    width: 100px;
}
